body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  margin: 0;
  font-size: Arial;
}
#root {
  height: 100%;
}

/*Layout*/

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #203040;
  color: #ffffff;
}
/*Common*/
h1 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/*header*/

header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  font-size: 3rem;
  font-weight: bold;
}

header > div {
  color: #ffffff;
}

/*footer*/
.row.center {
  justify-content: center;
}

/*Image*/
/* img {
  border: #c0c0c0 0.1rem solid;
  max-width: 50rem;
  border-radius: 0.5rem;
} */

img.media {
  width: 100%;
  max-width: 30rem;
}
img.large {
  width: 100%;
}

/*Card*/
.card {
  border: #203040 0.1rem solid;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.2rem;
}

/*Alert*/

.loading {
  display: block !important;
}

.success {
  color: #20a020;
}
.error {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-error {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #e0ffe0;
}

/*product*/
.rating span {
  color: #ffc000;
  margin: 0.2rem;
}
.rating span:last-child {
  color: #404040;
}
/*Button*/
.btn-primary {
  background-color: #f0c040;
  color: #203040;
}
